body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #3c3d3f;
}


h1,
h2,
strong {
    color: #cb0b0b;
}

h1 {
    color: black;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

td {
    color: blueviolet;
}

.Lab2_preguntas {
    text-emphasis: filled blue;
}

#HTML{
    color: rgb(68, 0, 255);
}

#HTML:hover {
    color: rgb(255, 0, 204);
}

a {
    color: #1c9ae8;
}