<%- include('../includes/head.ejs') %>

<div class="box">
    LAB 13 <br>
    ¿Qué beneficios encuentras en el estilo MVC?
    Este nos permite reutilizar el código, además de alguna manera se dividen los archivos dependiendo
    de las responsabilidades que tiene. Así pues, esto permite que sea escalable.<br>
¿Encuentras alguna desventaja en el estilo arquitectónico MVC?
La desventaja principal la encuentro en cuanto a la complejidad inicial que tiene, ya que en un inicio puede ser algo confuso
el manejo de varios archivos.
<br>
</div>

<div class="notification is-danger">
    LAB 14 <br>
    Iguales a las preguntas y respuestas del lab 13
<br>
</div>

<%- include('../includes/foot.ejs') %>