<%- include('../includes/head.ejs') %>

<h1 class="title">Agregar Platillo</h1>
<form action="/platillos/add" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <label for="nombre">Platillo a agregar</label>
    <input id="nombre" name="nombre" class="input" type="text" placeholder="Chilaquiles">
    <br><br>
    <label for="descripcion">Descripción del platillo</label>
    <textarea id="descripcion" name="descripcion" class="textarea" placeholder="Delicioso platillo..."></textarea>
    <br>
    <input type="file" name="imagen">
    <br><br>
    <input id="agregar" name="agregar" type="submit" value="Agregar" class="button is-info">
</form>

<%- include('../includes/foot.ejs') %>
