<%- include('../includes/head.ejs') %>

<article class="message is-warning">
<div class="message-header">
    <p>La comidita</p>
    <button class="delete" aria-label="delete"></button>
</div>
<div class="message-body">
    La comidita es un restaurante de alto nivel que se enfoca en crear las garnachitas más deliciosas de México.
</div>
</article>

<%- include('../includes/foot.ejs') %>