<%- include('../includes/head.ejs') %>

<aside class="menu">
<p class="menu-label">
    Ordenar
</p>
<ul class="menu-list">
    <li><a>Tacos</a></li>
    <li><a>Enchiladas</a></li>
    <li><a>Chilaquiles</a></li>
    <li><a>Otro</a></li>
</ul>

<%- include('../includes/foot.ejs') %>