<%- include('../includes/head.ejs') %>

<h1 class="title">Bienvenido</h1>
<form action="/users/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <label for="username">User:</label>
    <input id="username" name="username" class="input is-primary" type="text" placeholder="EliBalner">
    <br>
    <label for="password">Password:</label>
    <input id="password" name="password" class="input is-primary" type="password" placeholder="Hola123$">
    <br>
    <br>
    <br>
    <input class="button is-primary" type="submit" value="Entrar">
    
    <div class="field-body">
    <div class="field">
        <div class="control">
        <br>
        <label class="checkbox">
            <input type="checkbox">
            Recordarme
        </label>
        </div>
    </div>
    </div>
    
</form>

<%- include('../includes/foot.ejs') %>